* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #1a65df, #2d3033);

    padding: 30px;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.outerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* absolute se relative kiya */
    min-height: 100vh; /* screen height ke hisaab se center me align ho */
    padding: 20px;
}


.container {
    background-color: rgb(0, 0, 0, 0.7);
    color:  #f8fafc;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 1.5;
    width: 800px;
    height: auto;
}

#city {
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    width: 100%;
    max-width: 300px;
}

#city:hover {
    border-color: #667eea;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}


.monument {
    /* background-color: rgba(255, 0, 0, 0.8); */
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 20px;
    color: #ffffff;
}

.monument .name {
    margin-bottom: 10px;
}

#monumentImage {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}

.description {
    font-style: italic;
    font-weight: 800;
    margin-top: 10px;
    color: #e5e7eb;
}

