@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
     font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(50deg, #08bd99, rgb(195, 186, 186));
    background-color: #1f8c0c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
}

.container {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calci-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1); /* semi-transparent */
    border-radius: 15px;
    box-shadow: 2px 5px 10px #000000cc,
            -2px -5px 10px rgba(0, 0, 0, 0.8);
    padding: 30px;
}
.calci-container {
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.calci-container:hover {
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.8);
}

input {
    margin: 5px;
    padding: 10px;
    background: transparent;
    border: none;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    width: 100%;
    text-align: right;
    font-size: 23px;
    transition: all 0.3s ;
    color: rgb(63, 9, 9);
    font-family: 'Digital-7', monospace;
}
input::placeholder {
    color: white;
}
input:hover {
    box-shadow: 1px 1px 20px black;
    transform: translateY(-2px);
}

.buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button-container {
    padding: 10px;
    width: 100%;
}

button {
    background: transparent;
    color: white;
    padding: 7px;
    box-shadow: 1px 1px 2px black;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    max-width: 60px;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: ease;
    border: none;
}
button:hover {
    font-size: 16px;
    font-weight: bolder;
    box-shadow: 0 0 15px #d4e1ce, 0 0 30px #adffb0, inset 0 0 5px #14a02b;
    color: #03271f;
    transform: translateY(-1px);
}

#header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 23px;
    overflow: hidden;

    img {
        max-width: 100px;
    }
}


.btn-operator {
    color: black;
}
#btn-ac {
    color: rgb(89, 7, 7);
}
#btn-delete {
    color: red;

}
#btn-equal {
    color: #003366;

}

.btn-operator, #btn-ac, #btn-delete, #btn-equal {
    font-size: 17px;
    font-weight: bolder;
}
.btn-operator:hover, #btn-ac:hover, #btn-delete:hover{
    box-shadow: 0 0 15px #d4e1ce, 0 0 30px #adffb0, inset 0 0 5px #14a02b;
    color: #03271f;
    transform: translateY(-2px);
}
#btn-equal:hover {
    box-shadow: 0 0 15px #d4e1ce, 0 0 30px #55c29d, inset 0 0 5px #0dc8af;
    color: #041b16;
    transform: translateY(-2.5px);
}

@media screen and (max-width: 350px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        font-size: 16px;
        background-color: #f8f8f8;
    }
    body::before {
        content: "It is responsive till 300px. Later we will make it responsive for width less than 300px, so stay tuned.";
        display: block;
        padding: 20px;
    }
    .container {
        display: none;
    }
}
